# Ignore all by default.
*
!.gitignore

# Except these folders:
!Documents/
!AppData/
!.config/
!pip/

# Except these files (or links):
!.minttyrc
!.bashrc
!.bash_profile
!.tmux.conf
!.vimrc
!.gitconfig
